// font

//------------------------------------------------------------------
// Font family
//------------------------------------------------------------------
$font-num: "Roboto", sans-serif;
$font-default: "Hiragino Kaku Gothic ProN", "NotoSansCJKjp", "MS PGothic", sans-serif;

//------------------------------------------------------------------
// color
//------------------------------------------------------------------
$black: #333;
